<section class="home d-flex align-items-center" data-aos="fade-up">
  <div class="container">
    <div class="row align-items-center">
      <!-- Texto -->
      <div class="col-md-6" data-aos="fade-right">
        <h1 class="home-title">¡Hola! Soy David Nova</h1>
        <p class="home-subtitle">Desarrollador Full Stack apasionado por crear soluciones innovadoras y escalables.</p>
        <div class="home-actions">
          <a routerLink="/projects" class="btn btn-primary me-3">Ver mis proyectos</a>
          <a routerLink="/contact" class="btn btn-outline-primary">Contáctame</a>
        </div>
      </div>

      <!-- Imagen -->
      <div class="col-md-6" data-aos="fade-left">
        <img src="assets/images/profile-pic.jpeg" alt="Ilustración de desarrollo web" class="img-fluid rounded-image"
             height="800" width="800">
      </div>
    </div>
  </div>
</section>
