<section class="projects">
  <div class="container custom-container">
    <h2 class="projects-title" data-aos="fade-up">Proyectos</h2>

    <!-- Tarjetas de Proyectos -->
    <div class="projects-grid">
      <!-- Proyecto 1 -->
      <div class="project-card" data-aos="fade-up" data-aos-delay="100">
<!--        <img src="assets/images/project1.jpg" alt="Proyecto 1" class="project-image">-->
        <div class="project-content">
          <h3 class="project-title">Sistema POS para Pequeños Negocios</h3>
          <p class="project-description">
            Desarrollo de un sistema de punto de venta (POS) para pequeños negocios, con funcionalidades como gestión de inventario, ventas y reportes.
          </p>
          <ul class="project-technologies">
            <li>Java</li>
            <li>MySQL</li>
          </ul>
          <div class="project-links">
            <a href="https://github.com/nortic97/SellingSystem" target="_blank" class="btn btn-primary">Ver en GitHub</a>
<!--            <a href="https://demo-proyecto1.com" target="_blank" class="btn btn-outline-primary">Ver Demo</a>-->
          </div>
        </div>
      </div>

      <!-- Portafolio Personal -->
      <div class="project-card" data-aos="fade-up" data-aos-delay="200">
        <!-- <img src="assets/images/portafolio.jpg" alt="Portafolio Personal" class="project-image"> -->
        <div class="project-content">
          <h3 class="project-title">Portafolio Personal con Angular</h3>
          <p class="project-description">
            Mi portafolio personal es una aplicación web desarrollada con <strong>Angular 19</strong> y <strong>TypeScript</strong>. Está diseñado para mostrar mis proyectos, habilidades y experiencia de manera clara y profesional. Incluye un diseño responsivo, animaciones interactivas.
          </p>
          <ul class="project-technologies">
            <li>Angular 19</li>
            <li>TypeScript</li>
            <li>HTML5</li>
            <li>CSS3</li>
            <li>Boostrap 5 (Diseño UI)</li>
            <li>Firebase Hosting (Despliegue)</li>
          </ul>
          <div class="project-links">
            <a href="https://github.com/nortic97/portafolio" target="_blank" class="btn btn-primary">Ver en GitHub</a>
<!--            <a href="https://tu-portafolio.com" target="_blank" class="btn btn-outline-primary">Visitar Portafolio</a>-->
          </div>
        </div>
      </div>

      <!-- Proyecto 3 -->
      <div class="project-card" data-aos="fade-up" data-aos-delay="300">
<!--        <img src="assets/images/project3.jpg" alt="Proyecto 3" class="project-image">-->
        <div class="project-content">
          <h3 class="project-title">Aplicación de Chat en Tiempo Real</h3>
          <p class="project-description">
            Aplicación de chat en tiempo real con funcionalidades como salas de chat y notificaciones.
          </p>
          <ul class="project-technologies">
            <li>Golang</li>
            <li>Websockets</li>
          </ul>
          <div class="project-links">
            <a href="https://github.com/nortic97/chat-service-go" target="_blank" class="btn btn-primary">Ver en GitHub</a>
<!--            <a href="https://demo-proyecto3.com" target="_blank" class="btn btn-outline-primary">Ver Demo</a>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
